<!-- search menu -->

<div class="body__search">
    <form action="/home" method="GET">
        <button type="submit" value="submit"><img src="images/search_black_24dp.svg" alt="" srcset=""></button>

        <input type="text" class="bar" name="search" placeholder="Search by name..." autofocus>
    </form>

    <h4>Popular Searches</h4>
    <a href="/animations/movie/Toy Story 4" class="movies">
        <div class="image">
            <img src="images/toy.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>Toy Story 4</p>
            <div class="genre">
                <p>Amimation</p>
                <div class="rated">
                    <p>Family</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/Tenets" class="movies">
        <div class="image">
            <img src="images/tenet-poster-2-700x1037.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>Tenet</p>
            <div class="genre">
                <p>Action</p>
                <div class="rated">
                    <p>pg 13</p>
                    <p>V</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/kob" class="movies">
        <div class="image">
            <img src="images/king-of-boys-mobile.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>King Of Boys</p>
            <div class="genre">
                <p>Comedy</p>
                <div class="rated">
                    <p>16</p>
                    <p>V L</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/Conjuring" class="movies">
        <div class="image">
            <img src="images/Conjuring_poster.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>The Conjuring</p>
            <div class="genre">
                <p>Horror</p>
                <div class="rated">
                    <p>16</p>
                    <p>V</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/SpongeBob Movie: Sponge On The Run" class="movies">
        <div class="image">
            <img src="images/sponge mobile.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>The Spongebob Movie</p>
            <div class="genre">
                <p>Animation</p>
                <div class="rated">
                    <p>Family</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/Overcomer" class="movies">
        <div class="image">
            <img src="images/overcomer-mobile.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>Overcomer</p>
            <div class="genre">
                <p>Drama</p>
                <div class="rated">
                    <p>Family</p>
                    
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/Glass" class="movies">
        <div class="image">
            <img src="images/glass-mobile.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>Glass</p>
            <div class="genre">
                <p>Action</p>
                <div class="rated">
                    <p>Pg 13</p>
                    <p>V</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/Annabelle Comes Home" class="movies">
        <div class="image">
            <img src="images/annabelle-mobile.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>Annabelle Comes Home</p>
            <div class="genre">
                <p>Horror</p>
                <div class="rated">
                    <p>16</p>
                    <p>V</p>
                </div>
            </div>
        </div>
    </a>

    <a href="/action/movie/Spies In Disguise" class="movies">
        <div class="image">
            <img src="images/spies.jpg" alt="" srcset="">
        </div>
        <div class="movies__texts">
            <p>Spies In Disguise</p>
            <div class="genre">
                <p>Animation</p>
                <div class="rated">
                    <p>Pg 13</p>
                    <p>V</p>
                </div>
            </div>
        </div>
    </a>
</div>
</div>