<!-- footer -->

<div class="footer">
    <div class="top">
        <div class="top__logo">
            <!-- logo -->

            <img src="/images/poker.jpg" alt="" srcset="">
                <p>Kyrillo</p>
    </div>
    <div class="contact__links">
        <a href="https://twitter.com/Cyril_Asogwa_BM"><img src="/images/icon-twitter.svg" alt="" srcset=""></a>
        <a href="https://www.linkedin.com/in/cyril-asogwa-419a69208/"><img src="/images/linkedin-3-24 (1).png" alt="" srcset=""></a>
        <a href="https://github.com/Cyril17-cyber"><img src="/images/github-11-24.png" alt="" srcset=""></a>
        <a href="https://asogwac029@gmail.com"><img src="/images/icons8-send-email-24.png" alt="" srcset=""></a>
    </div>
    </div>
    <p>© 2021 Kyrillo. All rights reserved.</p>
</div>


<script src="/app/js/script.js"></script>
</body>
</html>