@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  height: 100vh;
  margin: 0px;
  padding: 21px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-image: url("/images/photo-1604975701397-6365ccbd028a.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #060d1d;
  -webkit-text-decoration: underline #060d1d;
          text-decoration: underline #060d1d;
}

body a:hover {
  color: #0e66a5;
  -webkit-text-decoration: underline #0e66a5;
          text-decoration: underline #0e66a5;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conditions {
  width: 50vw;
  padding: 63px 29px;
  font-size: 21px;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 701px) {
  .conditions {
    width: 100vw;
  }
}

.conditions p {
  margin: 0px 0px 19px 0px;
}

form {
  width: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 49px;
}

form .top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .top__logo img {
  height: 50px;
}

form .top__logo p {
  margin: 0px 0px 0px 14px;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 21px;
}

form .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: none;
  border: 1px #00000033 solid;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 5px 0px 2px 12px;
  height: 40px;
  width: 23rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

form input:focus {
  border: 1.5px #0e66a5 solid;
}

.checkbox {
  margin: 0px 0px 22px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox .check {
  width: 11px;
  height: 11px;
}

.btn {
  font-weight: 600;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#060d1d), to(#0e66a5));
  background-image: linear-gradient(to right, #060d1d, #0e66a5);
  padding: 11px 153px;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.btn:hover {
  color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#060d1d), to(#0e66a5c9));
  background-image: linear-gradient(to right, #060d1d, #0e66a5c9);
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (max-width: 993px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 701px) {
  body {
    overflow: hidden;
  }
  .card {
    width: 78vw;
  }
  form input {
    width: 66vw;
  }
  .btn {
    padding: 11px 25vw;
  }
  label {
    font-size: 14px;
  }
  h1 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=signup.css.map */