<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon (1).ico" type="image/x-icon">
    <link rel="stylesheet" href="app/scss/signup.css">
    <title>Terms And Conditions</title>
</head>
<body>
    <div class="conditions">
        <p>
            The Kyrillo website was designed and developed/built only as a project, and thus <strong>shouldn't</strong> be taken seriously as an official movie streaming site as the designers and developer have no rights,  whatsoever, to show any of the movies displayed here.
    By clicking on the agreeing to terms and conditions of this website, you have promised not to sue or take legal actions on what is displayed in this website.
        </p>
    <a href="/register">Back</a>
    </div>
</body>
</html>