.body__home {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 8px;
    padding: 12px 13px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 494px);
    a {
        transition: all 300ms ease-in-out;
        &:hover {
            opacity: 0.8;
        }
    }
    .home__movie {
        .movie__img {
            // height: 47vh !important;
            img {
                width: 100% !important;
                height: 491px; 
                border-radius: 26px;
                border: 3px solid #000000;
             }
        }
    }
}