@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');


@import "body";
@import "animation";
@import "search";
@import "movies";
@import "move";
@import "footer";
html {
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Poppins', sans-serif !important;
    position: relative;
        overflow-x: hidden;

    &.burger {
        overflow: hidden;
        .body {
            background: #000000;
        }
        .footer {
            display: none;
        }
        .mobile__menu {
            visibility: visible;
            opacity: 1;
            background: #000000;
        }
        #hamburger {
            > span:first-child {
                transform: rotate(45deg);
            }
            >span:nth-child(2) {
                opacity: 0;
            }
            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    position: relative;
    height: 100vh;
    // display: grid;
    grid-row-gap: 7rem;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-image: url('/images/photo-1509564324749-471bd272e1ff.jpeg');
    background-size: cover;
}

.nav {
    &.off {
        .top__menu {
            .ellipsis {
                display: block !important;
                visibility: visible;
                    opacity: 1;
                    background: none;
              }
              .shut {
                visibility: hidden;
                    opacity: 0;
                    background: none;
                    display: none !important;
              }
        }
    }
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #18273d;
    

    .top {
        display: flex;
    align-items: center;
    justify-content:  center;
        &__menu {
            img {
                height: 27px;
            }
            
            .ellipsis {
                visibility: hidden;
            opacity: 0;
            background: none;
                display: none !important;
            }
            .shut {
                visibility: visible;
            opacity: 1;
            background: none;
                display: block !important;
            }
        }
    
        &__logo {
                display: flex;
                align-items: center;
                justify-content: center;
        
                img {
                    height: 50px;
                }
        
                p {
                    margin: 0px 0px 0px 14px;
                    font-family: 'Akaya Kanadaka', cursive;
                    font-size: 21px;
                }
        }
    }

    &__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            &:not(:first-child) {
                margin-left: 81px;
            }
        }
        .null {
            font-weight: 400;
            font-size: 16px;
            color: #607d8b;
            transition: all 300ms ease-in-out;
            &:hover {
                font-size: 19px;
                color:#f44336;
                font-weight: 600;
            }
        }
        .active {
            font-size: 19px;
            color:#f44336;
            font-weight: 600;
            padding-bottom: 5px;
        }
    }

    #hamburger {
        display: none;
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: white;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
    
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.mobile__menu {
    visibility: hidden;
    opacity: 0;
    background: none;
    padding: 0px 0px 0px 8px;
    background: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    a {
        text-decoration: none;
        width: 100vw;
        &:not(:first-child) {
            border-top: 2px solid #ffffff96;
        }
    }
    .null {
        font-weight: 400;
        font-size: 17px;
        color: #607d8b;
        transition: all 300ms ease-in-out;
        padding: 30px 0px;
    }
    .active {
        font-size: 27px;
        color:#f44336;
        font-weight: 600;
        padding: 30px 0px;
    }
}

@media (max-width: 993px) {
    .nav {
        .mid {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav__search {
                margin-right: 61px;
            }
        }
        &__links {
            display: none;
        }
        #hamburger {
            display: block;
        }
    }
}

