@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import "animation";
@import "search";
@import "movies";
@import "move";
@import "body";
@import "footer";
html {
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    position: relative;
        overflow-x: hidden;

    &.burger {
        overflow: hidden;
        .footer {
            display: none;
        }
        .body {
            background: #000000;
        }
        .mobile__menu {
            visibility: visible;
            opacity: 1;
            background: #000000;
        }
        #hamburger {
            > span:first-child {
                transform: rotate(45deg);
            }
            >span:nth-child(2) {
                opacity: 0;
            }
            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    position: relative;
    height: 100vh;
    // display: grid;
    grid-row-gap: 7rem;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-image: url('/images/photo-1509564324749-471bd272e1ff.jpeg');
    background-size: cover;
}

.nav {
    &.off {
        .top__menu {
            .ellipsis {
                display: block !important;
                visibility: visible;
                    opacity: 1;
                    background: none;
              }
              .shut {
                visibility: hidden;
                    opacity: 0;
                    background: none;
                    display: none !important;
              }
        }
    }
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #18273d;
    

    .top {
        display: flex;
    align-items: center;
    justify-content:  center;
        &__menu {
            img {
                height: 27px;
            }
            
            .ellipsis {
                visibility: hidden;
            opacity: 0;
            background: none;
                display: none !important;
            }
            .shut {
                visibility: visible;
            opacity: 1;
            background: none;
                display: block !important;
            }
        }
    
        &__logo {
                display: flex;
                align-items: center;
                justify-content: center;
        
                img {
                    height: 50px;
                }
        
                p {
                    margin: 0px 0px 0px 14px;
                    font-family: 'Akaya Kanadaka', cursive;
                    font-size: 21px;
                }
        }
    }

    &__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            &:not(:first-child) {
                margin-left: 81px;
            }
        }
        .null {
            font-weight: 400;
            font-size: 16px;
            color: #607d8b;
            transition: all 300ms ease-in-out;
            &:hover {
                font-size: 19px;
                color:#f44336;
                font-weight: 600;
            }
        }
        .active {
            font-size: 19px;
            color:#f44336;
            font-weight: 600;
            padding-bottom: 5px;
        }
    }

    #hamburger {
        display: none;
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: white;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
    
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.mobile__menu {
    visibility: hidden;
    opacity: 0;
    background: none;
    padding: 0px 0px 0px 8px;
    background: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    a {
        text-decoration: none;
        width: 100vw;
        &:not(:first-child) {
            border-top: 2px solid #ffffff96;
        }
    }
    .null {
        font-weight: 400;
        font-size: 17px;
        color: #607d8b;
        transition: all 300ms ease-in-out;
        padding: 30px 0px;
    }
    .active {
        font-size: 27px;
        color:#f44336;
        font-weight: 600;
        padding: 30px 0px;
    }
}

@media (max-width: 993px) {
    .nav {
        .mid {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav__search {
                margin-right: 61px;
            }
        }
        &__links {
            display: none;
        }
        #hamburger {
            display: block;
        }
    }
}

.video {
    &.show {
            display: block;
            video {
                display: block;
            }
    }
    display: none;
    height: 100vh;
    width:100vw;
    background: #000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    video {
        display: none;
        max-width: 50vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 4;
    }
    img {
        position: fixed;
        top: 20vh;
        height: 40px;
        left: 82vw;
        transform: translate(-50%,-50%);
        z-index: 4;
    }
}
.btns {
    margin: 5px 0px;
}
.conjuring {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/conjuring.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.afall {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/citation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.power {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/project-power-netflix-sci-fi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.old {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/code8desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/beats.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.living {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/overconer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.god {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/God-Calling.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.fatal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/kob.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.extract {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/tenets.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.jojo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/SpongeBob_Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.chief {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/spiesindisguise_coverart_1600x686_9bafc725.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.hustle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/toy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/dont-breathe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.llorona {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/the\ curse.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.witches {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/spycies.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.jumanji {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/disney-pixar-soul-poster-disney-plus-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.furies {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/annabelle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.viva {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/viva.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}
.birds {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/glass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;
}

.blood {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 13px;
    background-image: url('/images/Fast-Furious-Hobbs-Shaw-full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1 0 64%;
        visibility: visible;
        opacity: 1;


    &__main {
        @media (max-width: 993px) {
            display: block;
        }
        display: grid;
        grid-column-gap: 135px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;

        .main {
            font-family: 'Poppins', sans-serif !important;
            h1 {
                font-family: 'Paytone One', sans-serif !important;
            }
            &__links {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 72px 0px;
                a {
                    text-decoration: none;
                    font-weight: 600;
                }
                .watch {
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: #10070b;
                background: #5b7487;
                padding: 4px 15px;
                border-radius: 31px;
                transition: all 300ms ease-in-out;
                
                &:hover {
                    box-shadow: -2px 3px 2px 1px #5b74879a;
                }
                }
                .download {
                    display: flex;
                align-items: center;
                justify-content: space-around;
                color: #5b7487;
                background: #29182c;
                padding: 4px 15px;
                border-radius: 31px;
                transition: all 300ms ease-in-out;
                &:hover {
                    
                    box-shadow: -2px 3px 2px 1px #29182cc7;
                    // opacity: .87;
                }
                }
            }
        }
    }
    // &__slides {
    //     position: relative;
    //     width: 11rem;
    //     // overflow: hidden;
    //     border: 3px solid #000000;
    // }

    // &__images {
    //     display: flex;
    //     width: 13rem;
    //     height: 289px;
    //         img {
    //             width: 13rem;
    //         }
    // }
}

@media (max-width: 993px) {
    .menu {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // &__links {
      //   width: 100%
      // }
    }
    .body {
      display: block;
      .blood {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/hobbs-and-shaw-mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
      &__main {
        @media (max-width: 993px) {
            display: block;
        }
        display: grid;
        grid-column-gap: 135px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;

        .main {
            color: rgb(117, 116, 116);
            h1 {
                font-family: 'Paytone One', sans-serif !important;
                color: rgb(117, 116, 116);
            }
        }
        p {
            font-size: 13px;
            color: #ffffff;
        }
    }
    }

    .conjuring {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/Conjuring_poster.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .god {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/220px-Calling_God-mobile.jpeg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .jojo {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/sponge\ mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .chief {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/spies.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .child {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/dont-breathe-mobile.jfif');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .llorona {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/la\ llorona.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .furies {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/annabelle-mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .viva {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/Vivarium_film_theatrical_poster.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .witches {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/spycies\ mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .old {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/code-8.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .afall {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/citation-mobile.png');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .fatal {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/king-of-boys-mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .jumanji {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/soul\ mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .hustle {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/Toy_Story_4_poster.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .living {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/overcomer-mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .extract {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/tenet-poster-2-700x1037.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .power {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/project-mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .friend {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/beats_vertical-main_rgb_pre.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    .birds {
        flex: 1 0 64%;
        display: none !important;
        visibility: hidden;
        opacity: 0;
        background-image: url('/images/glass-mobile.jpg');
        .movie__img {
          height: 100% !important;
          width: 79vw !important;
          img {
              width: 100%;
              height: 100%; 
              border-radius: 26px;
              border: 3px solid #000000;
           }
      }
    }
    }
}