@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    background: none;
    display: none;
  }
  1% {
    visibility: visible;
    opacity: 0;
    background: white;
  }
  to {
    visibility: visible;
    opacity: 1;
    background: white;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    background: none;
    display: none;
  }
  1% {
    visibility: visible;
    opacity: 0;
    background: white;
  }
  to {
    visibility: visible;
    opacity: 1;
    background: white;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out;
          animation: fade-in 300ms ease-in-out;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    background: white;
  }
  99% {
    visibility: visible;
    opacity: 0;
    background: white;
  }
  to {
    visibility: hidden;
    opacity: 0;
    background: none;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    background: white;
  }
  99% {
    visibility: visible;
    opacity: 0;
    background: white;
  }
  to {
    visibility: hidden;
    opacity: 0;
    background: none;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out;
          animation: fade-out 300ms ease-in-out;
}

@-webkit-keyframes body-out {
  from {
    background-image: none;
  }
  to {
    background: #000000;
  }
}

@keyframes body-out {
  from {
    background-image: none;
  }
  to {
    background: #000000;
  }
}

.body-out {
  -webkit-animation: body-out 300ms ease-in-out;
          animation: body-out 300ms ease-in-out;
}

@-webkit-keyframes mobile-in {
  from {
    visibility: hidden;
    opacity: 0;
    background: none;
  }
  1% {
    visibility: visible;
    opacity: 0;
    background: #000000;
  }
  to {
    visibility: visible;
    opacity: 1;
    background: #000000;
  }
}

@keyframes mobile-in {
  from {
    visibility: hidden;
    opacity: 0;
    background: none;
  }
  1% {
    visibility: visible;
    opacity: 0;
    background: #000000;
  }
  to {
    visibility: visible;
    opacity: 1;
    background: #000000;
  }
}

.mobile-in {
  -webkit-animation: mobile-in 300ms ease-in-out;
          animation: mobile-in 300ms ease-in-out;
}

@-webkit-keyframes mobile-out {
  from {
    visibility: visible;
    opacity: 1;
    background: #000000;
  }
  99% {
    visibility: visible;
    opacity: 0;
    background: #000000;
  }
  to {
    visibility: hidden;
    opacity: 0;
    background: none;
  }
}

@keyframes mobile-out {
  from {
    visibility: visible;
    opacity: 1;
    background: #000000;
  }
  99% {
    visibility: visible;
    opacity: 0;
    background: #000000;
  }
  to {
    visibility: hidden;
    opacity: 0;
    background: none;
  }
}

.mobile-out {
  -webkit-animation: mobile-out 300ms ease-in-out;
          animation: mobile-out 300ms ease-in-out;
}

.body.search .body__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw !important;
  visibility: visible;
  opacity: 1;
  background: #ffffff;
}

.body__search {
  height: 140rem;
  visibility: hidden;
  opacity: 0;
  background: none;
  display: none;
  border-left: 3.5px solid #f44336;
  border-radius: 15px 0px 0px 15px;
  width: 0px;
  padding: 8px 10px;
}

@media (max-width: 993px) {
  .body__search {
    width: 100vw !important;
  }
}

.body__search h4 {
  color: black;
}

.body__search form {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px 5px 19px;
  background: #0000004a;
  border-radius: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.body__search form .bar {
  background: none;
  border: none;
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body__search form .bar:focus {
  font-size: 18px;
}

.body__search .image {
  width: 9rem;
}

.body__search .image img {
  width: 100%;
}

.body__search .movies {
  margin: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body__search .movies__texts {
  margin-left: 9px;
  width: 145px;
}

.body__search .movies__texts p {
  margin: 5px 0px 4px 0px;
  font-weight: 700;
}

.body__search .movies__texts .genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body__search .movies__texts .genre p {
  margin: 8px 0px;
  color: #656565;
}

.body__search .movies__texts .genre .rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__search .movies:hover {
  color: #f44336;
}

.menu__links .none {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.nav__search .white {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body.mode {
  background-image: url("/images/GettyImages-1066472014-7f0a7babac50423ab826eaca772d3064.jpg");
}

body.mode .footer .top__logo p {
  color: #ffffff;
}

body.mode .menu__links {
  color: #ffffff;
}

body.mode .menu__links .none {
  display: block;
  visibility: visible;
  opacity: 1;
}

body.mode .menu__links .on {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body.mode .menu {
  background: #666666;
}

body.mode .menu h2 {
  color: #ffffff;
}

body.mode .menu .dark {
  color: #ffffff;
}

body.mode .menu .dark:hover {
  color: #000000;
}

body.mode #hamburger > span {
  background-color: #000000;
}

body.mode .nav {
  background: #0000001a;
}

body.mode .nav__links .null {
  color: #000000;
}

body.mode .nav__links .null:hover {
  color: #f44336;
  font-weight: 700;
}

body.mode .top__logo p {
  color: #000000;
}

body.mode .nav__search .white {
  display: block;
  visibility: visible;
  opacity: 1;
}

body.mode .nav__search .black {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.body.done .body__search {
  background: #666666;
}

.body.done .body__search form {
  background: #ffffff;
}

.body.done .body__search .movies {
  color: #ffffff;
}

.body.done .body__search .movies__texts .genre p {
  color: #000000;
}

.body__home {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 12px;
  grid-row-gap: 8px;
  padding: 12px 13px;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  -ms-grid-rows: (494px)[2];
      grid-template-rows: repeat(2, 494px);
}

.body__home a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body__home a:hover {
  opacity: 0.8;
}

.body__home .home__movie .movie__img img {
  width: 100% !important;
  height: 491px;
  border-radius: 26px;
  border: 3px solid #000000;
}

.body {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 993px) {
  .body.visible .blood {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .conjuring {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .god {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .fatal {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .power {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .old {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .llorona {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .furies {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .viva {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .friend {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .hustle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .jojo {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .chief {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .witches {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .jumanji {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .extract {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .living {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .birds {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .afall {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
  .body.visible .body__home {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
}

.body .menu {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  visibility: visible;
  opacity: 1;
  border-right: 3.5px solid #f44336;
  border-radius: 0px 15px 15px 0px;
  padding: 0px 12px 16px 12px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body .menu h2 {
  color: #000000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body .menu h4 {
  color: #000000be;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 114px;
  color: #0000009a;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body .menu__links p {
  margin-left: 5px;
}

.body .menu__links:hover {
  color: #f44336;
  font-weight: 700;
}

.body .menu .now {
  color: #f44336;
  font-weight: 700;
}

.body .menu .dark {
  color: #000000;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.body .menu .dark:hover {
  color: #928e8e;
}

.body__home {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.body__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
}

.body.toogle .menu {
  visibility: hidden;
  opacity: 0;
  background: none;
  display: none;
}

@media (max-width: 993px) {
  .menu {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body {
    display: block;
  }
  .body__home {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
  }
  .body__home .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body__home .movie__img img {
    height: 491px !important;
    border-radius: 26px;
    border: 3px solid #000000;
  }
}

.footer {
  padding: 6px 13px;
  background: #000000;
}

.footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .top__logo img {
  height: 50px;
}

.footer .top__logo p {
  margin: 0px 0px 0px 14px;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 21px;
}

.footer .contact__links a {
  position: relative;
}

.footer .contact__links a:not(:last-child) {
  margin-right: 13px;
}

.footer .contact__links a::before {
  content: "";
  opacity: 0;
  position: absolute;
  display: block;
  background: white;
  height: 5px;
  width: 26px;
  bottom: -8px;
  left: -2px;
  border-radius: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  visibility: hidden;
}

.footer .contact__links a:hover::before {
  opacity: 1;
  visibility: visible;
}

.footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

@media (max-width: 993px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .top__logo {
    margin-bottom: 8px;
  }
  .footer .top .contact__links {
    margin-bottom: 4px;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  grid-row-gap: 7rem;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-image: url("/images/photo-1509564324749-471bd272e1ff.jpeg");
  background-size: cover;
}

body.burger {
  overflow: hidden;
}

body.burger .footer {
  display: none;
}

body.burger .body {
  background: #000000;
}

body.burger .mobile__menu {
  visibility: visible;
  opacity: 1;
  background: #000000;
}

body.burger #hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body.burger #hamburger > span:nth-child(2) {
  opacity: 0;
}

body.burger #hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  padding: 17px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #18273d;
}

.nav.off .top__menu .ellipsis {
  display: block !important;
  visibility: visible;
  opacity: 1;
  background: none;
}

.nav.off .top__menu .shut {
  visibility: hidden;
  opacity: 0;
  background: none;
  display: none !important;
}

.nav .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .top__menu img {
  height: 27px;
}

.nav .top__menu .ellipsis {
  visibility: hidden;
  opacity: 0;
  background: none;
  display: none !important;
}

.nav .top__menu .shut {
  visibility: visible;
  opacity: 1;
  background: none;
  display: block !important;
}

.nav .top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .top__logo img {
  height: 50px;
}

.nav .top__logo p {
  margin: 0px 0px 0px 14px;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 21px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__links a {
  text-decoration: none;
}

.nav__links a:not(:first-child) {
  margin-left: 81px;
}

.nav__links .null {
  font-weight: 400;
  font-size: 16px;
  color: #607d8b;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav__links .null:hover {
  font-size: 19px;
  color: #f44336;
  font-weight: 600;
}

.nav__links .active {
  font-size: 19px;
  color: #f44336;
  font-weight: 600;
  padding-bottom: 5px;
}

.nav #hamburger {
  display: none;
}

.nav #hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.nav #hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.mobile__menu {
  visibility: hidden;
  opacity: 0;
  background: none;
  padding: 0px 0px 0px 8px;
  background: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__menu a {
  text-decoration: none;
  width: 100vw;
}

.mobile__menu a:not(:first-child) {
  border-top: 2px solid #ffffff96;
}

.mobile__menu .null {
  font-weight: 400;
  font-size: 17px;
  color: #607d8b;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 30px 0px;
}

.mobile__menu .active {
  font-size: 27px;
  color: #f44336;
  font-weight: 600;
  padding: 30px 0px;
}

@media (max-width: 993px) {
  .nav .mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .mid .nav__search {
    margin-right: 61px;
  }
  .nav__links {
    display: none;
  }
  .nav #hamburger {
    display: block;
  }
}

.video {
  display: none;
  height: 100vh;
  width: 100vw;
  background: #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.video.show {
  display: block;
}

.video.show video {
  display: block;
}

.video video {
  display: none;
  max-width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

.video img {
  position: fixed;
  top: 20vh;
  height: 40px;
  left: 82vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

.btns {
  margin: 5px 0px;
}

.conjuring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/conjuring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.afall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/citation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/project-power-netflix-sci-fi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/code8desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/beats.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.living {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/overconer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.god {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/God-Calling.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.fatal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/kob.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.extract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/tenets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.jojo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/SpongeBob_Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.chief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/spiesindisguise_coverart_1600x686_9bafc725.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.hustle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/toy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/dont-breathe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.llorona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/the curse.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.witches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/spycies.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.jumanji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/disney-pixar-soul-poster-disney-plus-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.furies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/annabelle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.viva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/viva.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.birds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/glass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.blood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 13px;
  background-image: url("/images/Fast-Furious-Hobbs-Shaw-full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64%;
          flex: 1 0 64%;
  visibility: visible;
  opacity: 1;
}

.blood__main {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 135px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
}

@media (max-width: 993px) {
  .blood__main {
    display: block;
  }
}

.blood__main .main {
  font-family: 'Poppins', sans-serif !important;
}

.blood__main .main h1 {
  font-family: 'Paytone One', sans-serif !important;
}

.blood__main .main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 72px 0px;
}

.blood__main .main__links a {
  text-decoration: none;
  font-weight: 600;
}

.blood__main .main__links .watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #10070b;
  background: #5b7487;
  padding: 4px 15px;
  border-radius: 31px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.blood__main .main__links .watch:hover {
  -webkit-box-shadow: -2px 3px 2px 1px #5b74879a;
          box-shadow: -2px 3px 2px 1px #5b74879a;
}

.blood__main .main__links .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #5b7487;
  background: #29182c;
  padding: 4px 15px;
  border-radius: 31px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.blood__main .main__links .download:hover {
  -webkit-box-shadow: -2px 3px 2px 1px #29182cc7;
          box-shadow: -2px 3px 2px 1px #29182cc7;
}

@media (max-width: 993px) {
  .menu {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body {
    display: block;
  }
  .body .blood {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/hobbs-and-shaw-mobile.jpg");
  }
  .body .blood .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .blood .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .blood__main {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 135px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
}

@media (max-width: 993px) and (max-width: 993px) {
  .body .blood__main {
    display: block;
  }
}

@media (max-width: 993px) {
  .body .blood__main .main {
    color: #757474;
  }
  .body .blood__main .main h1 {
    font-family: 'Paytone One', sans-serif !important;
    color: #757474;
  }
  .body .blood__main p {
    font-size: 13px;
    color: #ffffff;
  }
  .body .conjuring {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/Conjuring_poster.jpg");
  }
  .body .conjuring .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .conjuring .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .god {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/220px-Calling_God-mobile.jpeg");
  }
  .body .god .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .god .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .jojo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/sponge mobile.jpg");
  }
  .body .jojo .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .jojo .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .chief {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/spies.jpg");
  }
  .body .chief .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .chief .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .child {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/dont-breathe-mobile.jfif");
  }
  .body .child .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .child .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .llorona {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/la llorona.jpg");
  }
  .body .llorona .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .llorona .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .furies {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/annabelle-mobile.jpg");
  }
  .body .furies .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .furies .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .viva {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/Vivarium_film_theatrical_poster.jpg");
  }
  .body .viva .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .viva .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .witches {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/spycies mobile.jpg");
  }
  .body .witches .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .witches .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .old {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/code-8.jpg");
  }
  .body .old .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .old .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .afall {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/citation-mobile.png");
  }
  .body .afall .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .afall .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .fatal {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/king-of-boys-mobile.jpg");
  }
  .body .fatal .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .fatal .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .jumanji {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/soul mobile.jpg");
  }
  .body .jumanji .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .jumanji .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .hustle {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/Toy_Story_4_poster.jpg");
  }
  .body .hustle .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .hustle .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .living {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/overcomer-mobile.jpg");
  }
  .body .living .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .living .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .extract {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/tenet-poster-2-700x1037.jpg");
  }
  .body .extract .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .extract .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .power {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/project-mobile.jpg");
  }
  .body .power .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .power .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .friend {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/beats_vertical-main_rgb_pre.jpg");
  }
  .body .friend .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .friend .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
  .body .birds {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%;
    display: none !important;
    visibility: hidden;
    opacity: 0;
    background-image: url("/images/glass-mobile.jpg");
  }
  .body .birds .movie__img {
    height: 100% !important;
    width: 79vw !important;
  }
  .body .birds .movie__img img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    border: 3px solid #000000;
  }
}
/*# sourceMappingURL=movie.css.map */