@import "signUpMobile";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}

@media (max-width: 993px) {
    body {
        overflow: hidden;
    }
}

@media (max-width: 701px) {
    body {
        overflow: hidden;
    }
    .card {
        width: 78vw;
    }
    form {
        input {
            width: 66vw;
        }
    }
    .btn {
        padding: 11px 26vw;
    }
}